.company-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.5s ease;
}

.category-drop.expanded {
    padding-left: 100px;
}

.company-card.collapsed {
    background-color: #e9ecef;
    font-weight: bold;
    text-align: left;
}

.btn.expanded {
    display: inline-block;
}

.company-card.expanded {
    max-height: 800px;
    background-color: #fff;
    width: 75%;
    margin-left: 12%;
    margin-top: 0;
    overflow: auto;
}

.company-header {
    font-size: 1.2rem;
    margin-left: 10px;
}

.company-details {
    margin-top: 10px;
    margin-left: 10px;
}

.icon-selector .form-check {
    margin-bottom: 5px;
}