.admin-container {
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    height: 100vh;
    margin-bottom: 20px;
}

.company-button {
    background-color: #357266;
    color: #ffffff;
    border: none;
}

.new-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    top: 0;
}

.new-product-form {
    width: 90%;
}

.new-product-form input textarea{
    width: 90%;
}

.product-card-row {
    display: flex;
    flex-direction: row;
    max-height: 40vh;
}

.existing-product-card {
    background-color: #357266;
    max-width: 80%;
    height: 40vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.product-card-image {
    object-fit: contain;
    padding: 5%;
    border-radius: 20px;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
}