.container-fluid {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-grouping {
    padding-top: 0.5%;
    text-align: center;
}

.category-content {
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
    height: 0;
    opacity: 0;
}

.category-content.expanded {
    height: auto;
    opacity: 1;
}

.bi-toggle-icon {
    cursor: pointer;
    font-size: 1.9rem;
    transition: 0.3s ease;
}

.bi-toggle-icon:hover {
    color: #ffffff;
}

.product-icons .icon_actual {
    width: 80px; 
    height: auto; 
    padding-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

.company-title {
    font-weight: 900;
}

.category-title {
    margin-left: 30%;
    margin-right: 30%;
    transition: transform 0.3s ease;
}

.category-title:hover {
    transform: scale(1.07);
}

.container {
    margin:  0 auto; /* Center the content */
    margin-left: 100px;
    margin-right: 100px;
    max-width: fit-content;
    padding: 30px; /* Adjust padding as needed */
}

@media (max-width: 500px) {
    .container {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .cards {
        margin-left: 0;
        padding-left: 0;
    }

    .company-card {
        margin-left: 0;
    }

    .company-card.company-card.collapsed {
        width: auto;
    }
}

.card-title {
    padding-top: 10px;
    text-align: center;
}

.company-card {
    margin: 15px;
}

.card-header {
    align-items: center;
    background-color: #75ba6c;
    padding: 10px;
}

.company-card.expanded {
    z-index: 1050;
    position: fixed;
    top: 12%;
    height: 800px;
    background-color: #75ba6c !important;
    box-shadow: 10px 0px 18px rgba(0,0,0,0.5);
    left: 0;
    font-size: 1.2rem;
    padding: 0 !important;
}

.card-body {
    margin-top: 100px;
}

.company-card .card-header {
    align-items: center;
    font-size: 1.2rem;
    background-color: #75ba6c;
    z-index: 15;
    border: none;
}

.company-card.expanded .card-body {
    position: absolute;
    background: #75ba6c;
    font-size: 1.3rem;
}

.company-card.company-card.collapsed {
    background-color: #639e5b;
    width: 95%;
    margin: 5%;
}

.company-card.company-card.collapsed:hover {
    background-color: #436c3e;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 20px;
}

.card-text {
    margin-top: 12%;
    color: #1e1e1e;
}

.card-specifics {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 0;
}

.qualifications {
    color: #1e1e1e;
}

.collapse-button {
    font-size: 50px;
    margin-right: 20px;
}

.collapse-button:hover {
    scale: 1.2;
    color: #696969;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

.card-header.dark-mode {
    color: #1e1e1e;
}
