.product-icons .icon_actual {
    width: 50px; 
    height: auto; 
    padding-top: 12px;
    margin-bottom: 30px;
    object-fit: contain;
}

.card-title {
    padding-top: 10px;
    text-align: center;
}

.card-header {
    align-items: center;
    background-color: #75ba6c;
    padding: 10px;
}

.company-card.expanded {
    z-index: 1050;
    position: fixed;
    top: 12%;
    width: 90%;
    height: 800px;
    background-color: #75ba6c !important;
    box-shadow: 10px 0px 18px rgba(0,0,0,0.5);
    left: 0;
    font-size: 1.2rem;
    padding: 0 !important;
}

.company-card .card-header {
    align-items: center;
    font-size: 1.2rem;
    background-color: #75ba6c;
    z-index: 15;
    border: none;
}

.company-card.expanded .card-body {
    position: absolute;
    background: #75ba6c;
    font-size: 1.3rem;
}

.company-card.company-card.collapsed {
    background-color: #639e5b;
}

.company-card.company-card.collapsed:hover {
    background-color: #436c3e;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 20px;
}

.card-text {
    margin-top: 200px;
    color: #1e1e1e;
}

.qualifications {
    color: #1e1e1e;
}

.collapse-button {
    align-items: right;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

.card-header.dark-mode {
    color: #1e1e1e;
}
