.product-icons .icon_actual {
    width: 40px; 
    height: auto; 
    margin: 0; 
    padding-top: 12px;
    margin-bottom: 30px;
    object-fit: contain;
}

.card-title {
    margin: 10px 0;
    text-align: center;
}

.card-body {
    padding: 15px;
}

.company-card {
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    background: #ddd;
    z-index: 1;
}

.card-header {
    align-items: center;
    background-color: #ddd;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.company-card.collapsed {
    height: auto;
}

.company-card.expanded {
    z-index: 1050;
    position: fixed;
    top: 12%;
    width: 90%;
    height: 800px;
    background: #ddd;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
    left: 0;
    font-size: 1.2rem;
}

.company-card .card-header {
    align-items: center;
    font-size: 1.2rem;
    background-color: #ddd;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    z-index: 15;
}

.company-card.expanded .card-body {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: #ddd;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
    left: 0;
    font-size: 1.3rem;
}

.card-header.expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    background: #ddd;
}

.card-header:hover {
    background-color: #e0e0e0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 20px;
}

.card-img-top {
    height: 150px;
    width: auto;
    margin-right: 10px;
    object-fit: contain;
    background-color: #ddd;
}

.card-text {
    height: auto;
    margin-top: 190px;
    color: #1e1e1e;
}

.qualifications {
    color: #1e1e1e;
}

.collapse-button {
    align-items: right;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;
}

.card-header.dark-mode {
    color: #1e1e1e;
}
