@import 'variables';

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .about-container {
        margin: $padding-medium;
    }

    .sections {
        padding: $padding-medium;
    }

    .about-title {
        font-size: 3rem;
        font-weight: 700;
    }

    .worded-logo {
        width: 45%;
        padding: $padding-small;
    }

    .section-1 {
        background-color: $fourth-color;
        border-radius: $border-radius;
    }

    .live-dashboard {
        display: flex;
        flex-direction: column;
        background-color: $fifth-color;
        border-radius: $border-radius;
        justify-content: center;
        align-items: center;
        margin-bottom: $padding-medium;

        .dashboard-title {
            padding-top: $padding-small;
        }

        .dashboard-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .recent-companies-list {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        .dash-icon {
            font-size: 20px;
        }
    }

    .section-2 {
        background-color: $fourth-color;
        border-radius: $border-radius;
    }

    .highlights-container {
        background-color: $fifth-color;
        border-radius: $border-radius;
    }

    .section-4 {
        background-color: $fourth-color;
        border-radius: $border-radius;
    }
}

.index-info {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    padding: $padding-medium;
    border-radius: $border-radius;

    .transp-table {
        background-color: $tertiary-color;
    }

    .emphasize {
        font-weight: 600;
    }

    .transp-title, .transp-sustain, .transp-meaning, .transp-matter {
        text-align: center;
    }

    table {
        width: 100%;
        margin: 20px 0;
        font-size: $medium-font-size;
        text-align: left;
        border: none;
    }

    th, td {
        padding: $padding-medium;
    }
}

.transp-icon {
    text-align: center;
    font-size: 2.0rem;
}