@import 'variables';

.container-fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.page-title-label {
    color: white;
}

.dropdown-container {
    text-align: center;

    .dropdown {
        width: $dropdown-width;
        font-size: $medium-font-size;
    }
}

.form-container-transp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $form-width;
    height: $form-height;
    text-align: center;
    margin-bottom: $padding-small;
    margin-top: $padding-small;
}

.score-input {
    height: 60px;
    font-size: $medium-font-size;
}

.score-actual {
    text-align: center;
    width: 20%;
    justify-content: center;
}

.score-label {
    font-weight: 600;
    color: white;
}

.calculate-btn {
    margin-top: $padding-medium;
    width: $btn-width;
    font-size: $large-font-size;
    background-color: $primary-color;
    border: none;
    margin-bottom: $padding-large;
}