@import 'variables';

.admin-container {
    align-items: center;
    justify-content: center;
    max-width: $max-width;
    margin: 0 auto;
    height: 100vh;
    margin-bottom: $padding-medium;
}

.admin-page-title {
    color: white;
}

.admin-nav-btns {
    display: flex;
    justify-content: end;
}

.admin-companies-btn {
    margin-right: $padding-medium;
}

.btn-secondary {
    background-color: $primary-color;
}

.company-button {
    color: $secondary-color;
    border: none;
    font-size: $large-font-size;
}

.add-product-btn {
    background-color: $primary-color;
}

.new-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: $max-width;
    top: 0;
}

.new-product-form {
    width: $max-width;
}

.new-product-form {
    width: $max-width;

        input textarea{
            width: 90%;
    }
}

.product-card-row {
    display: flex;
    flex-direction: row;
    max-height: 40vh;
}

.existing-product-card {
    background-color: $primary-color;
    max-width: 80%;
    height: 40vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
}

.product-card-image {
    object-fit: contain;
    padding: 5%;
    border-radius: $border-radius;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: $max-width;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
}