@import 'variables';

.admin-manage-companies {
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    text-align: center;
    padding: $padding-small;
    width: 90%;

    .form-actual {
        width: 90%;
    }

    .form-input {
        font-size: $medium-font-size;
    }
}

.container-fluid {
    width: 98%;
    margin: 0 auto;
}

.company-card {
    border: 1px solid $card-border;
    border-radius: $border-radius;
    padding: $padding-small;
    background-color: $background-light;
    cursor: pointer;
    transition: all 0.5s ease;
    width: $card-width;
    height: auto;

    &.collapsed {
        background-color: $secondary-color;
        font-weight: bold;
        text-align: left;
    }

    &.expanded {
        max-height: 800px;
        background-color: $secondary-color;
        width: 75%;
        left: 11%;
        top: 10%;
        overflow: auto;
        position: fixed;
    }
}

.category-drop {
    &.expanded {
        padding-left: 100px;
    }
}

.company-header {
    text-align: center;
    align-items: center;
    font-size: $large-font-size;
    color: $text-dark;
}

.company-details {
    margin-top: $padding-small;
    margin-left: $padding-small;
}

.company-description-modal {
    height: 175px;
}

.icon-selector {
    .form-check {
        margin-bottom: 5px;
        margin-left: $padding-small;
    }
}

.modal-container {
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

body.dark-mode{
    p, .form-check {
        color: black;
    }
}