@import 'variables';

.admin-container {
    align-items: center;
    justify-content: center;
    max-width: $max-width;
    margin: 0 auto;
    height: 100vh;
    margin-bottom: $padding-medium;
}

.admin-page-title {
    color: white;
}

.admin-nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-companies-btn {
    margin-right: $padding-medium;
}

.btn-secondary {
    background-color: $primary-color;
}

.company-button {
    color: $secondary-color;
    border: none;
    font-size: $large-font-size;
}

.add-product-btn {
    background-color: $primary-color;
}

.new-product-title {
    color: white;
}

.new-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: $max-width;
    top: 0;
}

.new-product-form {
    width: $max-width;
}

.new-product-form {
    width: $max-width;

        input textarea{
            width: 90%;
    }
}

.product-card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.existing-product-card {
    background-color: $primary-color;
    max-width: 80%;
    height: $product-card-height;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: $border-radius;
}

.product-card-image {
    object-fit: contain;
    padding: 5%;
    border-radius: $border-radius;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: $max-width;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
}

.dietary-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 100%;

    .dietary-icon {
        width: 80px; 
        height: auto; 
        margin-bottom: $padding-medium;
        object-fit: contain;
        top: 0;
    }
    
    &.shrink-icons .dietary-icon {
        width: 55px;
    }
}

.product-text-muted {
    margin-top: $padding-small;
}