@import 'variables';

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: $contact-form-width;
    align-items: center;
    background-color: $secondary-color;
    border-radius: $border-radius;
    padding-bottom: $padding-medium;
    padding-top: $padding-medium;
}

h4 {
    margin-left: 2%;
    margin-right: 2%;
}

.form-details {
    align-items: center;
    text-align: center;
    width: 100%;
}

.form-label {
    width: 100%;
}

.contact-button {
    margin-top: 4%;
    font-size: 2.5rem;
    width: $contact-btn-width;
    border-radius: $border-radius;
}

.email-box, .name-box {
    padding: $padding-medium;
}

.email-box, .name-box, .message-box {
    font-size: $medium-font-size;
}

@media (max-width: 600px) {
    .form-control {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}