@import 'variables';

.hero-text, .lead {
    color: white;
}

.recent-companies-btn, .view-product-btn {
    color: $darks-color;
    border-color: $darks-color;

    &:hover {
        background-color: $tertiary-color;
        color: $darks-color;
    }
}

.product-card {
    background-color: $secondary-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;

    .card-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-height: 120px;
        margin-top: auto;
        text-align: center;
        color: white;
    }

    .dietary-icons {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        max-width: 100%;
        margin-top: 8px;
        min-height: 40px;
    
        .dietary-icon {
            width: 40px;
            height: auto;
            transition: transform 0.2s ease-in-out;
        }
    
        &.shrink-icons .dietary-icon {
            width: 30px;
        }
    }
}

.card-header {
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    text-align: center;
}

.product-image {
    width: 90%;
}

.card-title {
    margin-top: 0;
}

.card-footer {
    text-align: center;
    padding-top: 10px;
}

.disclaimer-footer {
    color: white;
}

.logo-bounce {
    width: 300px;
    height: 300px;
    animation: bounce 1.5s ease-out forwards infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    10% { transform: translateY(-60px); } /* Highest bounce */
    20% { transform: translateY(0); } 
    30% { transform: translateY(-50px); } /* Lower bounce */
    40% { transform: translateY(0); }
    50% { transform: translateY(-35px); } /* Even lower */
    60% { transform: translateY(0); }
    70% { transform: translateY(-25px); } /* Small bounce */
    80% { transform: translateY(0); }
    85% { transform: translateY(-10px); } /* Tiny bounce */
    90% { transform: translateY(0); }
    95% { transform: translateY(-5px); } /* Final tiny bounce */
    100% { transform: translateY(0); } /* Stops */
}

@media (max-width: 600px) {
    .card-container {
        padding-bottom: $padding-medium;
    }

    .product-image {
        max-height: 300px;
    }
}
