@import 'variables';

.product-card {
    background-color: $secondary-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.card-header {
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    text-align: center;
    border-style: none;
}

.product-image {
    width: 90%;
}

.card-details {
    margin-top: auto;
    text-align: center;
}

.card-title {
    margin-top: 0;
}

.card-footer {
    text-align: center;
    padding-top: 10px;
    border-style: none;
}

.category-toggle {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: $padding-medium;
    width: 50%;
    justify-content: center;
    background-color: $secondary-color-rgb;
    border-radius: $border-radius;
    color: white;

    &:hover {
        background-color: $secondary-color-rgb-hover;
        transform: scale(1.1); 
        transition: 0.5s ease;  
    }
}

.logo-bounce {
    width: 300px;
    height: 300px;
    animation: bounce 1.5s ease-out forwards infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    10% { transform: translateY(-60px); } /* Highest bounce */
    20% { transform: translateY(0); } 
    30% { transform: translateY(-50px); } /* Lower bounce */
    40% { transform: translateY(0); }
    50% { transform: translateY(-35px); } /* Even lower */
    60% { transform: translateY(0); }
    70% { transform: translateY(-25px); } /* Small bounce */
    80% { transform: translateY(0); }
    85% { transform: translateY(-10px); } /* Tiny bounce */
    90% { transform: translateY(0); }
    95% { transform: translateY(-5px); } /* Final tiny bounce */
    100% { transform: translateY(0); } /* Stops */
}