// Colors
$primary-color: #59594A;
$secondary-color: #62929E;
$tertiary-color: #A7DBCF;
$secondary-color-rgb: rgba(98, 146, 158, 0.3);
$secondary-color-rgb-hover: rgba(98, 146, 158, 0.8);
$fourth-color: #57a594;
$fifth-color: #59839b;
$greens-color: #1f8311;
$darks-color: #3C3941;
$background-light: #f9f9f9;
$background-dark: #1e1e1e;
$card-border: #ddd;
$text-dark: black;
$text-light: white;
$tooltip-bg: rgba(0, 0, 0, 0.8);
$tooltip-text: white;

// Font Sizes
$base-font-size: 16px;
$large-font-size: 1.5rem;
$medium-font-size: 1.2rem;
$collapse-icon-size: 50px;
$hero-font-size-mobile: 28px;
$hero-font-text-mobile: 18px;

// Spacing
$padding-xsmall: 5px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 80px;
$border-radius: 20px;
$max-width: 90%;
$category-margin: 30%;
$container-margin: 100px;

// Layout Sizes
$card-width: 330px;
$card-image-height: 300px;
$icon-height: 60px;
$toggler-icon-size: 30px;
$product-card-height: 100%;

// Form Elements
$form-width: 50rem;
$form-height: 10rem;
$dropdown-width: 30rem;
$btn-width: 20rem;
$contact-form-width: 90%;
$contact-btn-width: 30%;

// Animation
$shake-direction: 0.5s;
$tooltip-transition: 0.3s ease;